<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,1488},{92,122}}</string>
                <key>offset</key>
                <string>{6,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,6},{92,122}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,1497},{88,122}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,7},{88,122}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,568},{100,120}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,9},{100,120}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>a.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,1806},{57,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,50}}</string>
                <key>sourceSize</key>
                <string>{57,50}</string>
            </dict>
            <key>a_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1968},{58,50}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{58,50}}</string>
                <key>sourceSize</key>
                <string>{66,58}</string>
            </dict>
            <key>att_earth.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,1311},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>att_fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,1273},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>att_water.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,1235},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>att_wind.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,1197},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>b.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1908},{58,50}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{58,50}}</string>
                <key>sourceSize</key>
                <string>{66,58}</string>
            </dict>
            <key>b_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,1806},{58,50}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{58,50}}</string>
                <key>sourceSize</key>
                <string>{66,58}</string>
            </dict>
            <key>bg_exp.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,691},{86,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,19}}</string>
                <key>sourceSize</key>
                <string>{86,19}</string>
            </dict>
            <key>bg_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{610,626}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{610,626}}</string>
                <key>sourceSize</key>
                <string>{610,626}</string>
            </dict>
            <key>bg_panel_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,614},{581,593}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{581,593}}</string>
                <key>sourceSize</key>
                <string>{581,593}</string>
            </dict>
            <key>bg_panel_paper.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,775},{535,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{535,184}}</string>
                <key>sourceSize</key>
                <string>{535,184}</string>
            </dict>
            <key>bg_panel_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,2},{564,378}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{564,378}}</string>
                <key>sourceSize</key>
                <string>{564,378}</string>
            </dict>
            <key>bg_panel_wood.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1197},{570,462}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{570,462}}</string>
                <key>sourceSize</key>
                <string>{570,462}</string>
            </dict>
            <key>btn_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,1312},{154,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,59}}</string>
                <key>sourceSize</key>
                <string>{154,59}</string>
            </dict>
            <key>btn_blue_long.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,664},{202,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,59}}</string>
                <key>sourceSize</key>
                <string>{202,59}</string>
            </dict>
            <key>btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1715},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>btn_up_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,670},{120,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,49}}</string>
                <key>sourceSize</key>
                <string>{120,49}</string>
            </dict>
            <key>btns_hero.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,725},{186,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,48}}</string>
                <key>sourceSize</key>
                <string>{186,48}</string>
            </dict>
            <key>c.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,1968},{58,50}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{58,50}}</string>
                <key>sourceSize</key>
                <string>{66,58}</string>
            </dict>
            <key>c_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,1908},{58,50}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{58,50}}</string>
                <key>sourceSize</key>
                <string>{66,58}</string>
            </dict>
            <key>d.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1661},{58,50}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{58,50}}</string>
                <key>sourceSize</key>
                <string>{66,58}</string>
            </dict>
            <key>d_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,1661},{58,50}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{58,50}}</string>
                <key>sourceSize</key>
                <string>{66,58}</string>
            </dict>
            <key>empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,1283},{91,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,116}}</string>
                <key>sourceSize</key>
                <string>{91,116}</string>
            </dict>
            <key>ic_captain_jack.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,879},{112,96}}</string>
                <key>offset</key>
                <string>{9,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,33},{112,96}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ic_cat_queen.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,1169},{116,112}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,18},{116,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ic_drakan.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,1481},{94,94}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,33},{94,94}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ic_huchcy.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,1631},{82,112}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,15},{82,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ic_jingke.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,1806},{92,88}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,33},{92,88}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ic_jones.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,1700},{104,92}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,31},{104,92}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ic_mermaid.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,1295},{92,96}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,35},{92,96}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ic_mermaidqueen.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,993},{96,110}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,18},{96,110}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ic_oceaking.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,1621},{92,106}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,26},{92,106}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ic_oceantriton.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,1373},{90,122}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,17},{90,122}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ic_osiris.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,1715},{92,88}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,40},{92,88}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ic_pharaoh.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,1201},{96,92}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,32},{96,92}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ic_spharaoh.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,1105},{96,94}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,30},{96,94}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ic_sthoth.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,1796},{112,110}}</string>
                <key>offset</key>
                <string>{-5,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{112,110}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ic_stlaloc.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,1053},{114,118}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,23},{114,118}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ic_supejones.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1908},{102,88}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,34},{102,88}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ic_thoth.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,1684},{112,110}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,16},{112,110}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ic_tizerc.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,1376},{110,114}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,18},{110,114}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ic_tlaloc.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,937},{114,118}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,23},{114,118}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ic_xiangyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,819},{118,116}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,17},{118,116}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ic_yingzheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,765},{94,112}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,25},{94,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>ic_yuji.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,1389},{90,96}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,24},{90,96}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>rare1.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,1577},{93,121}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{93,121}}</string>
                <key>sourceSize</key>
                <string>{93,125}</string>
            </dict>
            <key>rare2.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,721},{96,119}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,9},{96,119}}</string>
                <key>sourceSize</key>
                <string>{100,129}</string>
            </dict>
            <key>rare3.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,1582},{100,126}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,126}}</string>
                <key>sourceSize</key>
                <string>{100,128}</string>
            </dict>
            <key>s.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,1661},{58,50}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{58,50}}</string>
                <key>sourceSize</key>
                <string>{66,58}</string>
            </dict>
            <key>s_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1661},{58,50}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{58,50}}</string>
                <key>sourceSize</key>
                <string>{66,58}</string>
            </dict>
            <key>star_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,779},{19,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{19,19}</string>
            </dict>
            <key>text_evolve.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1729},{75,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,48}}</string>
                <key>sourceSize</key>
                <string>{75,48}</string>
            </dict>
            <key>text_sell.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,664},{75,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,49}}</string>
                <key>sourceSize</key>
                <string>{75,49}</string>
            </dict>
            <key>text_upgrade.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,715},{75,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,48}}</string>
                <key>sourceSize</key>
                <string>{75,48}</string>
            </dict>
            <key>title_atk.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,1908},{92,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,44}}</string>
                <key>sourceSize</key>
                <string>{92,44}</string>
            </dict>
            <key>title_backpack.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1806},{98,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,59}}</string>
                <key>sourceSize</key>
                <string>{98,59}</string>
            </dict>
            <key>title_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,568},{270,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,94}}</string>
                <key>sourceSize</key>
                <string>{270,94}</string>
            </dict>
            <key>title_craft.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,1581},{130,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,48}}</string>
                <key>sourceSize</key>
                <string>{130,48}</string>
            </dict>
            <key>title_exp.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,800},{40,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,14}}</string>
                <key>sourceSize</key>
                <string>{40,14}</string>
            </dict>
            <key>title_hero_upgrade.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,1373},{135,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,49}}</string>
                <key>sourceSize</key>
                <string>{135,49}</string>
            </dict>
            <key>title_heros.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,1530},{134,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,49}}</string>
                <key>sourceSize</key>
                <string>{134,49}</string>
            </dict>
            <key>title_monster.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,1477},{134,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,51}}</string>
                <key>sourceSize</key>
                <string>{134,51}</string>
            </dict>
            <key>title_shards.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,1424},{134,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,51}}</string>
                <key>sourceSize</key>
                <string>{134,51}</string>
            </dict>
            <key>title_total_exp.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,614},{75,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,22}}</string>
                <key>sourceSize</key>
                <string>{75,22}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>beibao.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:823d5d30e6ead156f235a03062e202e1:1/1$</string>
            <key>textureFileName</key>
            <string>beibao.png</string>
        </dict>
    </dict>
</plist>
